<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeUserServlet</servlet-name>
        <servlet-class>Controllers.HomeUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByPriceServlet</servlet-name>
        <servlet-class>Controllers.SearchByPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Controllers.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeStaffServlet</servlet-name>
        <servlet-class>Controllers.HomeStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>Controllers.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Controllers.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaffServlet</servlet-name>
        <servlet-class>Controllers.SearchStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>Controllers.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDataServlet</servlet-name>
        <servlet-class>Controllers.LoadDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>Controllers.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>Controllers.AddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>Controllers.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>Controllers.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavaCartServlet</servlet-name>
        <servlet-class>Controllers.SavaCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeUserServlet</servlet-name>
        <url-pattern>/HomeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByPriceServlet</servlet-name>
        <url-pattern>/SearchByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeStaffServlet</servlet-name>
        <url-pattern>/HomeStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaffServlet</servlet-name>
        <url-pattern>/SearchStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDataServlet</servlet-name>
        <url-pattern>/LoadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/RemoveCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavaCartServlet</servlet-name>
        <url-pattern>/SavaCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
</web-app>
